<div class="container-fluid">

  <div class="row bg-dark">
    <div class="col-12 d-flex justify-content-start py-2">
      <div class="border border-light bg-success rounded-3 d-flex justify-content-center align-items-center">
        <p class="text-light m-2">{{playerName}}</p>
      </div>
    </div>
  </div>

  <div class="row bg-secondary">
    <div class="col-5 d-flex align-items-center">
      <div class="border rounded-2 bg-light">
        <a class="link-offset-2 link-underline link-underline-opacity-0 m-2" routerLink="/main">Return to Home</a>
      </div>

    </div>
    <div class="col"></div>
    <div class="col-3 py-2">
      <div class="d-flex justify-content-center align-items-center" style="height: 100%">
        <button type="button" (click)="logout()" class="btn btn-light m-2" style="max-width: 100%; max-height: 100%;"><img class="img-fluid" src="assets/icons/logout-1.png" /></button>
      </div>
    </div>
  </div>

  <div class="row bg-primary">

    <div class="col">
      <h6 class="display-6 text-light">Item Store</h6>
    </div>

  </div>

  <div class="row bg-dark">

    <div class="col-5 d-flex justify-content-start align-items-center">
      <div class="border rounded-3 bg-light my-3 d-flex align-items-center">
        <p class="text-dark d-flex justify-content-center m-2">G {{currBal}}</p>
      </div>
    </div>

    <div class="col"></div>

    <div class="col-3">
      <button *ngIf="!processing && !checkout" class="btn btn-success my-3" (click)="startCheckout()">
        Cart
        <span class="badge text-bg-secondary">{{betterCurrCart.length}}</span>
      </button>

      <div *ngIf="!processing && checkout" class="border rounded-2 d-flex align-items-center justify-content-center bg-light my-3" style="max-width: 100%;"><a class="link-offset-2 link-underline link-underline-opacity-0 m-2" (click)="storeRedirect()">Store</a></div>
    </div>
  </div>

  <div *ngIf="!checkout" class="row my-3">

    <div id="itemcat" class="col-12">
      <nav>
        <div class="nav nav-tabs" role="tablist">
          <button id="weapon-tab" class="nav-link" role="tab" (click)="changeCategory('weapon')" data-bs-toggle="tab" type="button">Weapons</button>
          <button id="armor-tab" class="nav-link" role="tab" (click)="changeCategory('armor')" data-bs-toggle="tab" type="button">Armor</button>
          <button id="medicine-tab" class="nav-link" role="tab" (click)="changeCategory('medicine')" data-bs-toggle="tab" type="button">Medicines</button>
          <button id="cosmetics-tab" class="nav-link" role="tab" (click)="changeCategory('cosmetics')" data-bs-toggle="tab" type="button">Cosmetics</button>
          <button id="limited-tab" class="nav-link" role="tab" (click)="changeCategory('limited')" data-bs-toggle="tab" type="button">Limited</button>
        </div>
      </nav>
    </div>

  </div>

  <div *ngIf="!checkout && !processing" class="row">

    <div class="col-12 bg-dark">

      <div class="tab-content d-flex justify-content-center align-items-center" style="max-height: 55vh; overflow-y: scroll;">

        <div *ngIf="currCategory == 'weapon'" id="weapon-content" style="position: relative;">

          <div class="d-flex flex-wrap justify-content-start" style="max-height: 55vh; overflow-y: scroll;">
            <div *ngFor="let weapon of weaponList; let i = index" class="d-flex flex-column m-3">
              <img class="img-thumbnail" src={{weapon.imgLink}} alt="w-image" style="max-width: 30vw; " placement="bottom" ngbTooltip={{weapon.itemDesc}} />

              <div class="border rounded-3 bg-primary d-flex justify-content-center align-items-center my-1"><p class="text-light d-flex align-items-center" placement="top" style="max-width: 30vw;" ngbTooltip={{weapon.itemDesc}}>{{weapon.itemName}}</p></div>
              <div class="border rounded-3 bg-primary d-flex justify-content-center align-items-center my-1"><p class="text-light m-1" style="max-width: 30vw;">{{weapon.itemPrice}}</p></div>
              <div class="d-flex flex-row" style="max-height: 5vh; max-width: 30vw">

                <input id="weap" name="weap" #weap type="number" class="form-control me-2" min="0" max="99" style="max-width: 75%;" />
                <button (click)="betterAddToCart(weapon.itemID, weap.value)" class="btn btn-success d-flex justify-content-center" type="button" style="max-width: 25%;"><img class="img-fluid" style="max-height: 25px; max-width: 25px; position: relative;" src="assets/icons/Plus2.png"/></button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="currCategory == 'armor'" id="armor-content" style="position: relative;">

          <div class="d-flex flex-wrap justify-content-start" style="max-height: 65vh; overflow-y: scroll;">
            <div *ngFor="let armor of armorList; let i = index" class="d-flex flex-column m-3">
              <img class="img-thumbnail" src={{armor.imgLink}} alt="a-image" style="max-width: 30vw;" placement="bottom" ngbTooltip={{armor.itemDesc}} />

              <div class="border rounded-3 bg-primary d-flex justify-content-center align-items-center my-1"><p class="text-light d-flex align-items-center" placement="top" style="max-width: 30vw;" ngbTooltip={{armor.itemDesc}}>{{armor.itemName}}</p></div>
              <div class="border rounded-3 bg-primary d-flex justify-content-center align-items-center my-1"><p class="text-light m-1" style="max-width: 30vw;">{{armor.itemPrice}}</p></div>

              <div class="d-flex flex-row" style="max-height: 5vh; max-width: 30vw">

                <input id="arm" name="arm" #arm type="number" class="form-control me-2" min="0" max="99" style="width: 75%;" />
                <button (click)="betterAddToCart(armor.itemID, arm.value)" class="btn btn-success d-flex justify-content-center" type="button" style="max-width: 25%;"><img class="img-fluid" style="max-height: 25px; max-width: 25px; position: relative;" src="assets/icons/Plus2.png" /></button>
              </div>
            </div>
          </div>
        </div>


        <div *ngIf="currCategory == 'medicine'" id="medicine-content" style="position: relative;">

          <div class="d-flex flex-wrap justify-content-start" style="max-height: 65vh; overflow-y: scroll;">

            <div *ngFor="let medicine of medicineList; let i = index" class="d-flex flex-column m-3">
              <img class="img-thumbnail" src={{medicine.imgLink}} alt="m-image" style="max-width: 30vw;" placement="bottom" ngbTooltip={{medicine.itemDesc}} />

              <div class="border rounded-3 bg-primary d-flex justify-content-center align-items-center my-1"><p class="text-light d-flex align-items-center" placement="top" style="max-width: 30vw;" ngbTooltip={{medicine.itemDesc}}>{{medicine.itemName}}</p></div>
              <div class="border rounded-3 bg-primary d-flex justify-content-center align-items-center my-1"><p class="text-light m-1" style="max-width: 30vw;">{{medicine.itemPrice}}</p></div>

              <div class="d-flex flex-row" style="max-height: 5vh; max-width: 30vw">
                <input id="med" name="med" #med type="number" class="form-control me-2" min="0" max="99" style="width: 75%;" />
                <button (click)="betterAddToCart(medicine.itemID, med.value)" class="btn btn-success d-flex justify-content-center" type="button" style="max-width: 25%;"><img class="img-fluid" style="max-height: 25px; max-width: 25px; position: relative;" src="assets/icons/Plus2.png" /></button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="currCategory == 'cosmetics'" id="cosmetics-content" style="position: relative;">

          <div class="d-flex flex-wrap justify-content-start" style="max-height: 65vh; overflow-y: scroll;">
            <div *ngFor="let cosmetic of cosmeticList; let i = index" class="d-flex flex-column m-3">
              <img class="img-thumbnail" src={{cosmetic.imgLink}} alt="c-image" style="max-width: 30vw;" placement="bottom" ngbTooltip={{cosmetic.itemDesc}} />

              <div class="border rounded-3 bg-primary d-flex justify-content-center align-items-center my-1"><p class="text-light d-flex align-items-center" placement="top" style="max-width: 30vw;" ngbTooltip={{cosmetic.itemDesc}}>{{cosmetic.itemName}}</p></div>
              <div class="border rounded-3 bg-primary d-flex justify-content-center align-items-center my-1"><p class="text-light m-1" style="max-width: 30vw;">{{cosmetic.itemPrice}}</p></div>

              <div class="d-flex flex-row" style="max-height: 5vh; max-width: 30vw">

                <input id="cos" name="cos" #cos type="number" class="form-control me-2" min="0" max="99" style="width: 75%;" />
                <button (click)="betterAddToCart(cosmetic.itemID, cos.value)" class="btn btn-success d-flex justify-content-center" type="button" style="max-width: 25%"><img class="img-fluid" style="max-height: 25px; max-width: 25px; position: relative;" src="assets/icons/Plus2.png" /></button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="currCategory == 'limited'" id="limited-content" style="position: relative;">

          <div class="d-flex flex-wrap justify-content-start" style="max-height: 65vh; overflow-y: scroll;">
            <div *ngFor="let limited of limitedList; let i = index" class="d-flex flex-column m-3">
              <img class="img-thumbnail" src={{limited.imgLink}} alt="l-image" style="max-width: 30vw;" placement="bottom" ngbTooltip={{limited.itemDesc}} />

              <div class="border rounded-3 bg-primary d-flex justify-content-center align-items-center my-1"><p class="text-light d-flex align-items-center" placement="top" style="max-width: 30vw;" ngbTooltip={{limited.itemDesc}}>{{limited.itemName}}</p></div>
              <div class="border rounded-3 bg-primary d-flex justify-content-center align-items-center my-1"><p class="text-light m-1" style="max-width: 30vw;">{{limited.itemPrice}}</p></div>

              <div class="d-flex flex-row" style="max-height: 5vh; max-width: 30vw">

                <input id="lim" name="lim" #lim type="number" class="form-control me-2" min="0" max="99" style="width: 75%;" />
                <button (click)="betterAddToCart(limited.itemID, lim.value)" class="btn btn-success d-flex justify-content-center" type="button" style="max-width: 25%"><img class="img-fluid" style="max-height: 25px; max-width: 25px; position: relative;" src="assets/icons/Plus2.png" /></button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div *ngIf="checkout && !processing" class="row my-3">

    <div class="col-12 d-flex flex-column justify-content-center">

      <h5 class="display-5">My Cart</h5>

      <div *ngIf="betterCurrCart.length == 0"><p>Looks like you don't have any items in your cart... yet.</p></div>

      <div *ngIf="betterCurrCart.length > 0" class="my-2" style="position: relative; ">

        <div *ngFor="let item of betterCurrCart; let i = index" class=" border rounded-2 bg-dark d-flex flex-column my-3 p-3">
          <img class="img-thumbnail" src={{item.imgLink}} alt="item-img" style="max-width: 30vw;" />

          <div><p class="text-light mt-3">{{item.itemName}}</p></div>
          <div><p class="text-light">Price: {{item.itemPrice}}</p></div>
          <div class="border rounded-2 bg-secondary d-flex align-items-center">
            <div class="d-flex flex-row align-items-center justify-content-between m-2" style="width: 100%;"> <p class="text-light ps-1 pt-3">Quantity: {{item.quantity}}</p> <button class="btn btn-danger my-2" (click)="removeFromCart(item.itemID)">Remove</button></div>
          </div>
        </div>

      </div>

      <div *ngIf="betterCurrCart.length > 0" class="my-2">
        <div class="border rounded-3 bg-secondary d-flex align-items-center justify-content-start">
          <p class="text-light d-flex justify-content-center align-items-center p-2">Total: {{totalCost}}</p>
        </div>
      </div>

      <button *ngIf="betterCurrCart.length > 0" class="btn btn-success my-3" style="max-width: 25vw;" type="button" (click)="betterPurchaseItems()">Order</button>

    </div>

  </div>

</div>
