<div class="container-fluid">

  <div class="row bg-secondary">
    <div class="col-2 d-flex align-items-center">
      <div class="border rounded-2 bg-light">
        <a class="link-offset-2 link-underline link-underline-opacity-0 m-2" routerLink="/main">Return to Home</a>
      </div>

    </div>
    <div class="col"></div>
    <div class="col-2 d-flex justify-content-end py-3">
      <div class="border border-light bg-success rounded-3 d-flex justify-content-center align-items-center">
        <p class="text-light m-2">{{playerName}}</p>
      </div>
    </div>
    <div class="col-1">
      <div class="border-start">
        <button type="button" (click)="logout()" class="btn btn-success m-4">Logout</button>
      </div>
    </div>
  </div>


  <div class="row bg-dark">
    <div class="col">
      <h6 class="display-6 text-success">Guild Search</h6>
    </div>
    <div class="col"></div>
    <div class="col-2 d-flex justify-content-center align-items-center">
      <button class="btn btn-success" routerLink="/gcreate">Create Guild</button>
    </div>
  </div>

  <div class="row">
    <div class="col-4"></div>

    <div class="col bg-success d-flex justify-content-center flex-wrap">
      <p class="text-light m-3">Looks like you don't belong to a guild... Yet.</p>
      <p class="text-light">Type below to start your search!</p>
      <input type="text" class="form-control m-3" [(ngModel)]="searchInput" (change)="searchRequest()" placeholder="Search guilds by name" />
    </div>

    <div class="col-4"></div>
  </div>

  <div *ngIf="pendingRequest.guildID !== 0" class="row">
    <div class="col-3"></div>
    <div class="col">
      <div class="row d-flex justify-content-center align-items-center">
        <h6 class="display-6 d-flex justify-content-center">Pending Request</h6>
      </div>
      <div class="row">
        <table class="table table-bordered border-light">
          <thead>
            <tr>
              <th class="bg-dark text-light">ID</th>
              <th class="bg-dark text-light">Guild Name</th>
              <th class="bg-dark text-light">Message</th>
              <th class="bg-dark text-light">Date Sent</th>
              <th class="bg-dark"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="bg-success text-light">{{pendingRequest.guildID}}</td>
              <td class="bg-success text-light">{{pendingRequest.guildName}}</td>
              <td class="bg-success text-light">{{pendingRequest.welcomeMessage}}</td>
              <td class="bg-success text-light">{{pendingRequest.dateCreated}}</td>
              <td class="bg-light text-light"><button class="btn btn-link btn-rounded btn-sm fw-bold" (click)="deletePending()">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-3"></div>
  </div>

  <div class="row">

    <div class="col-3"></div>

    <div class="col d-flex justify-content-center">

      <div id="listing-border" class="border rounded-3 m-3">
        <table class="table-success table-hover table-bordered border-light">

          <thead>
            <tr class="bg-dark">
              <th class="bg-dark text-light px-1">ID</th>
              <th class="bg-dark text-light px-1">Guild Name</th>
              <th class="bg-dark text-light px-1 d-flex justify-content-center">Message</th>
              <th class="bg-dark text-light px-1">Members</th>
              <th *ngIf="!waiting"></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let listing of guildListings; let i = index" class="bg-success">
              <td class="text-light d-flex justify-content-center px-1">{{listing.guildID}}</td>
              <td class="bg-success text-light px-1">{{listing.guildName}}</td>
              <td class="bg-success text-light px-1">{{listing.welcomeMessage}}</td>
              <td class="bg-success text-light d-flex justify-content-center px-1">{{listing.memberCount}}</td>
              <td *ngIf="!waiting" class="bg-light"><button class="btn btn-link btn-rounded btn-sm fw-bold" (click)="joinRequest(i)">Join</button></td>
            </tr>
          </tbody>

        </table>

      </div>

    </div>

    <div class="col-3"></div>

  </div>

</div>
