<div class="container-fluid bg-dark" style="height: 100vh;">

  <div id="main-display" class="row">
    <div class="col-1"></div>
    <div class="col d-flex justify-content-center align-items-center">
      <div class="border rounded-3 bg-secondary" style="position: fixed; z-index: 5;">
        <div class="border rounded-3 bg-light m-1">
          <h3 class="display-3 m-1">Game Manager</h3>
        </div>
      </div>
      <img class="img-fluid" src="assets/icons/title-icon.png" style="position: relative; z-index: 4; left: 3vw;"/>
    </div>
    <div class="col-1"></div>
  </div>

  <div id="input-display" class="row my-3">
    <div class="col"></div>

    <div class="col-12 d-flex flex-column flex-wrap justify-content-center align-items-center">
      <form class="form-group" id="login-form" [formGroup]="form" (ngSubmit)="login()">
        <input id="emailInput" name="emailInput" formControlName="email"
               [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
               [(ngModel)]='email' type="email" class="form-control my-3"
               placeholder="Enter your email" />
        <div *ngIf="submitted && f['email'].errors">
          <p class="text-danger" *ngIf="submitted && f['email'].errors['required']">Username must be submitted</p>
        </div>
        <input id="passInput" name="passInput" formControlName="pass"
               [ngClass]="{ 'is-invalid': submitted && f['pass'].errors }"
               [(ngModel)]='pass' type="password" class="form-control my-3"
               placeholder="Enter your password" />
        <div *ngIf="submitted && f['pass'].errors">
          <p class="text-danger" *ngIf="submitted && f['pass'].errors['required']">Password must be entered</p>
          <p class="text-danger" *ngIf="submitted && (f['pass'].errors['maxLength'] || f['pass'].errors['minLength'])">Password is incorrect</p>
        </div>
      </form>

      <div *ngIf="responseError">
        <p class="text-danger">Server Response Error</p>
      </div>


      <div class="row my-3">


        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="border rounded-2 d-flex flex-column justify-content-center bg-light">
            <button type="submit" form="login-form" class="btn btn-primary text-light m-2">Login</button>
            <p class="m-2"><a class="link-offset-3" routerLink="/signup">Don't have an account?</a></p>
          </div>
        </div>

        <div class="col"></div>
      </div>

    </div>

    <div class="col"></div>
  </div>
</div>
